@charset "utf-8";

@font-face {
	font-family: 'seoul_namsan_lm';
	font-style: normal;
	font-weight: normal;
	src: local('서울한강 장체M_0'), url('../asset/seoul_namsan_lm.woff') format('woff');
}

::-webkit-scrollbar {
    width: 0px;
}

body {
	margin: 0;
	overflow: hidden;
}

div {
	width: 100%;
}

div.chatting_control_tab{
	position: absolute;
	bottom: 47px;
	right: 10px;
	background-color: #331111;
	width: 40px;
	height: 5px;
}

div.chatting_control{
	position: absolute;
	bottom: 30px;
	right: 10px;
	background-color: #331111;
	width: 40px;
	height: 30px;
	padding-top: 10px;
	border-radius: 20px; 
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px; 

	text-align: center;
	color: #FFFFFF;
	font-size: 20px;
}

div.chatting_window {
	background-color: #115511;
	color: #FFFF00;
	overflow-y: auto;
	overflow-x: hidden;
	font-family: 'seoul_namsan_lm', sans-serif;
}

div.chatsystem {
	text-align: right;
}

div.profile_picture {
	display: inline-block;
	width: 70px;
	height: 70px;
	background-color: #FFFFFF;
}

div.chatballoon{
	display: inline-block;
}

div.chatname{
	display: inline-block;
	margin: 2px 5px 2px 5px;
	padding: 0 5px 0 5px;
	width: auto;
	height: 20px;
	background-color: #FFFF00;
	color: #115511;
	text-align: center;

	border-radius: 10px; 
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px; 
}

div.chatdata{
	margin: 2px 5px 2px 5px;
	padding: 0 10px 0 10px;
	display: inline-block;
	/*width: 100%;*/
	width: auto;
	background-color: rgba(255, 255, 255, 0.7);
	color: #000000;

	border-radius: 15px; 
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px; 

	word-break: break-all;
}

div.chatting_inputbox {
	height: 50px;
}

input {
	padding: 0;
	border: 0;
	margin: 0;
}


input.chatting_textbox {
	width: 100%;
	height: 50px;
}

